<div class="span12">
<h1>Editing post</h1>
<div class="toolbar group">
  <div class="pull-right">
      <%= link_to 'Show', @post %> |
      <%= link_to "Back", posts_path %>
  </div>
</div>

<%= render "form" %>

</div>
  