<div class="span12">
  <div class="toolbar group pull-right">
    <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary" %> | <%= link_to 'Back', posts_path %>
  </div>
  <h2> <%= @post.title %> </h2>

  <p> <%= simple_format(@post.content) %> </p>

</div>
