<div class="box">
  <h3 class="title">聯絡資訊</h3>
  <p>
    客服專線：02-27714676<br>
    客服時間：<br>週一至週五 10:00-19:00<br>
    12:00-14:00為休息時間<br>
    客服信箱 <%= link_to("service@buyble.com.tw", "mailto:service@buyble.com.tw", :class => "special")%> <br>
  </p>
</div>
  
