<div class="box">
  <h3 class="title">粉絲團</h3>
    <div class="fb-like-box" data-href="http://www.facebook.com/buyble.tw" data-width="200" data-height="85" data-show-faces="false" data-border-color="white" data-stream="false" data-header="false"></div>
</div>
